body {
  font-family: Georgia, Arial, sans;
  background-color: #FFFFFF;
  margin-left: 25px;
}

#footnote {
  font-size: 70%;
  clear: both;
  line-height: 1.5em;
  font-family: Verdana, serif;
}

#view1 p {
  font-size: 0.9em;
  font-style: italic;
  font-weight: bold;
}
/* Styles for containers/divs for charts */
#div_occmap,
#div_empnum, #div_hirenum , #div_empearn, #div_hirearn,
#div_empnum2, #div_hirenum2 , #div_empearn2, #div_hirearn2 {
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  margin-bottom: 20px;
}

#div_occmap {
  float: left;
  width: 30%;
  height: 850px;
}

#div_num {
  float: left;
  width: 30%;
  padding-right: 10px;
}
#div_earn {
  float: left;
  width: 30%;
  padding-right: 10px;
}

#div_num2 {
  width: 40%;
  float: left;
  padding-right: 10px;
}

#div_earn2 {
  width: 40%;
  float: left;
}

/* Styles for selectors */
#selectors, #selectors2 {
  background-color: #f0f0e1;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 40%;
  border-radius: 20px;
}

#sel_cty, #sel_ind, #sel_ed, #sel_ind2 {
  padding-bottom: 20px;
  margin-left: 10px;
}

#sel_cty legend, #sel_ind legend,
#sel_ed legend, #sel_ind2 legend {
  font-weight: bold;
  padding-bottom: 5px;
}

#sel_cty, #sel_ed {
  padding-top: 10px;
}

#sel_ind, #seld_ind2 {
  margin-bottom: 10px;
}

#sel_ind select, #sel_cty select,
#sel_ind2 select, #sel_ed select {
  width: 80%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 0.9em;
}

/* Styles for tabs */
ul.tabs
{
    padding: 7px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:3px; /*distance between tabs*/
}
        
ul.tabs li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    padding: 7px 16px;
    border: 1px solid #CCC;
    border-bottom-color:#B7B7B7;
    color: #000;
    background: #F0F0F0 url(tabbg.gif) 0 0 repeat-x;
    border-radius: 3px 3px 0 0;
    outline:none;
}
        
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
    border: 1px solid #B7B7B7;
    background:#F0F0F0 url(tabbg.gif) 0 -36px repeat-x;
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    font-weight:bold;
    background: white;
    border: 1px solid #B7B7B7;
    border-bottom-color: white;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}
     

div.tabcontents
{
    border: 1px solid #B7B7B7; padding: 30px;
    background-color:#FFF;
    border-radius: 0 3px 3px 3px;
}