body {
  font-family: Arial, Georgia, sans;
  background-color: #FFFFFF;
  margin-left: 25px;
}

ul.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 90%;
}

ul.nav-menu li {
  float: left;
  border-right: 1px solid #bbb;
}

ul.nav-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav-menu li a:hover:not(.active) {
  background-color: #111;
}

ul.nav-menu li a.active {
  background-color: #ffad33;
}

#footnote {
  font-size: 70%;
  clear: both;
  line-height: 1.5em;
  font-family: Verdana, serif;
}
#view1, #view2 {
  clear: both;
}
#view1 p, #view2 p {
  font-size: 0.9em;
  font-style: italic;
  font-weight: bold;
}
/* Styles for containers/divs for charts */
#div_occmap,
#div_empnum, #div_hirenum , #div_empearn, #div_hirearn,
#div_empnum2, #div_hirenum2 , #div_empearn2, #div_hirearn2 {
  position: relative;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  margin-bottom: 20px;
}

#div_occmap {
  float: left;
  width: 30%;
  height: 850px;
}

#div_num {
  float: left;
  width: 30%;
  padding-right: 10px;
}
#div_earn {
  float: left;
  width: 30%;
  padding-right: 10px;
}

#div_num2 {
  width: 40%;
  float: left;
  padding-right: 10px;
}

#div_earn2 {
  width: 40%;
  float: left;
  padding-right: 10px;
}

/* Styles for selectors */
#selectors, #selectors2 {
  background-color: #f0f0e1;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 40%;
  border-radius: 20px;
}

#sel_cty, #sel_ind, #sel_ed, #sel_ind2 {
  padding-bottom: 20px;
  margin-left: 10px;
}

#sel_cty legend, #sel_ind legend,
#sel_ed legend, #sel_ind2 legend {
  font-weight: bold;
  padding-bottom: 5px;
}

#sel_cty, #sel_ed {
  padding-top: 10px;
}

#sel_ind, #seld_ind2 {
  margin-bottom: 10px;
}

#sel_ind select, #sel_cty select,
#sel_ind2 select, #sel_ed select {
  width: 80%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 0.9em;
}
